page-tabs {
   .tabbar{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   } 
}


.fondo{

    background: #f3f3f3;
}

.cabeceramenu{
    background: #85d6b7;height: 20%;    background-image: linear-gradient(#00acf0, #2c588a);
}