page-inicio {
    .fondo{

        background: #f3f3f3;
       
    }

    .divs{
      background: white;
      text-align: center;
      color:gray;
      border-radius: 10%;
    }

    .divs img{
        
        height: 50%;
        margin-top: 3px;
        height: 70px;
      }

  h3{
      color:rgb(138, 0, 30),
  }
  .background{
    background-image: url('../../assets/catalogos.jpg');
    height: 30%;
    background-size: cover;
  }

  .verde{
    color:green;
    font-weight: 500;
  }

  .rojo{
      color:red;
      font-weight: 500;
  }

}
